.container .image {
  border: 5px solid black;
  text-align: center;
  margin: 0 auto;
  width: 510px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.container h1 {
  text-align: left;
}

.container .fImage {
  width: 500px;
  height: 500px;
  background-size: cover;
}

.container .imageSection {
  justify-content: center;
  text-align: center;
}

.container .filterSection {
  margin: 5px;
}

.container .filterSection .button {
  margin: 0 auto;
  width: 70%;
}

.colorPicker {
  float: left;
  margin: 0px 15px 0px 15px;
}

.colorPickers {
  width: 50%;
  margin: 0 auto;
}